.navegacion ul{
    list-style: none;
}

.menu > li{
    position: relative;
    display:inline-block;
}
.menu > li > a{
   display: block;
   padding: 15px 20px;
   color: #353535;
   font-family:'Open sans';
   text-decoration: none;
}
.menu li a:hover{
   color: #CE7D35;
   transition: all .3s;
}